workspace/Marcianos/frontend/n8n_workflow.json
{
  "name": "Notificação de Agendamentos (Marcianos)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        200
      ],
      "id": "d921d71e-eafd-43c8-adfd-ab7b5975dea4",
      "name": "Webhook",
      "webhookId": "40315f55-b4f4-40ad-9995-54777d0e0e52"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc5008d5-d4c1-4175-80b0-053a4817758c",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "1d6e37c1-de04-4ccf-aeec-80558501b913",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e62fb9c8-5b9a-4bd2-a882-54e5fe13c2a3",
              "name": "senderPhone",
              "value": "={{ $json.body.payload._data && $json.body.payload._data.Info && $json.body.payload._data.Info.SenderAlt ? $json.body.payload._data.Info.SenderAlt : $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "5817bc72-05f3-4617-8676-33024bd9c103",
              "name": "pushName",
              "value": "={{ $json.body.payload._data && $json.body.payload._data.Info && $json.body.payload._data.Info.PushName ? $json.body.payload._data.Info.PushName : '' }}",
              "type": "string"
            },
            {
              "id": "00ae1d5e-7542-48c6-a19f-10ed9f01d137",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "867b102b-c232-454c-ac1f-7bcef69a4141",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "b7ca532f-64a0-4e71-8f4f-2fb30a57682f",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "2d2d48d5-d806-4355-a017-b432770ae380",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        200
      ],
      "id": "e62fb9c8-5b9a-4bd2-a882-54e5fe13c2a2",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        460,
        200
      ],
      "id": "5f9fdc85-61e0-4591-a8dd-aef0fa15bc23",
      "name": "Switch Event"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        640,
        200
      ],
      "id": "wait-chatbot-3s",
      "name": "Aguardar 3 Segundos"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        820,
        200
      ],
      "id": "8dc5143a-2afd-41b0-96be-3d860beebbdb",
      "name": "Marcar Como Lido",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "id": "redis-get-state",
      "name": "Obter Estado Redis",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      },
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nlet redisValue = null;\nif (input.length > 0 && input[0].json) {\n  const keys = Object.keys(input[0].json);\n  for (const k of keys) {\n    if (k !== 'error' && input[0].json[k]) {\n      redisValue = input[0].json[k];\n      break;\n    }\n  }\n}\n\nlet isAwaitingCancellation = false;\nlet isAwaiting1hConfirmation = false;\nlet bookingId = null;\nlet clientName = null;\nlet bookingInicio = null;\n\nif (redisValue && typeof redisValue === 'string') {\n  if (redisValue.startsWith('awaiting_cancellation')) {\n    const parts = redisValue.split('|');\n    isAwaitingCancellation = true;\n    bookingId = parts[1] || null;\n    clientName = parts[2] || null;\n    bookingInicio = parts[3] || null;\n  } else if (redisValue.startsWith('awaiting_1h_confirmation')) {\n    const parts = redisValue.split('|');\n    isAwaiting1hConfirmation = true;\n    bookingId = parts[1] || null;\n    clientName = parts[2] || null;\n    bookingInicio = parts[3] || null;\n  }\n}\n\nconst hasActiveState = isAwaitingCancellation || isAwaiting1hConfirmation;\n\nreturn [\n  {\n    json: {\n      isAwaitingCancellation,\n      isAwaiting1hConfirmation,\n      hasActiveState,\n      bookingId,\n      clientName,\n      bookingInicio\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        200
      ],
      "id": "redis-parse-state",
      "name": "Analisar Estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasActiveState }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        200
      ],
      "id": "if-is-confirming-cancellation",
      "name": "Verificar Estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isAwaiting1hConfirmation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        280
      ],
      "id": "if-state-type-1h",
      "name": "Verificar Tipo Estado"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {},
        "fallbackOutput": "extra"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1540,
        50
      ],
      "id": "switch-menu-options",
      "name": "Switch Menu"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Para realizar o agendamento de seu horário, basta clicar no link abaixo e selecionar a melhor data e horário para você:\n\n🔗 http://localhost:5173/agendar",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1850,
        -300
      ],
      "id": "waha-opt-1",
      "name": "1 - Agendar Horário",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Dados').item.json;\nconst clean = (dados.senderPhone || dados.chatId).replace('@c.us', '').replace('@s.whatsapp.net', '').replace('@lid', '');\nlet number = clean.startsWith('55') ? clean.slice(2) : clean;\nconst ddd = number.slice(0, 2);\nconst rest = number.slice(2);\n\nlet formatWith9 = '';\nlet formatWithout9 = '';\n\nif (rest.length === 9) {\n  formatWith9 = `(${ddd}) ${rest.slice(0, 5)}-${rest.slice(5)}`;\n  formatWithout9 = `(${ddd}) ${rest.slice(1, 5)}-${rest.slice(5)}`;\n} else {\n  formatWithout9 = `(${ddd}) ${rest.slice(0, 4)}-${rest.slice(4)}`;\n  formatWith9 = `(${ddd}) 9${rest.slice(0, 4)}-${rest.slice(4)}`;\n}\n\nreturn [\n  {\n    json: {\n      formatWith9,\n      formatWithout9\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        -150
      ],
      "id": "formatar-telefone-node",
      "name": "Formatar Telefone"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/clientes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,nome,agendamentos_base(id,inicio,status,detalhes_agendamento_nicho(num_pessoas))"
            },
            {
              "name": "telefone",
              "value": "=in.(\"{{ $json.formatWith9 }}\",\"{{ $json.formatWithout9 }}\")"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        -150
      ],
      "id": "supabase-http-query-node",
      "name": "Buscar no Supabase",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.all();\nlet bookingFound = null;\nlet clientName = null;\n\nfor (const item of clients) {\n  const client = item.json;\n  if (client && client.agendamentos_base && client.agendamentos_base.length > 0) {\n    const activeBookings = client.agendamentos_base.filter(b => b.status !== 'Cancelado');\n    if (activeBookings.length > 0) {\n      activeBookings.sort((a, b) => new Date(a.inicio) - new Date(b.inicio));\n      const nearest = activeBookings[0];\n      if (!bookingFound || new Date(nearest.inicio) < new Date(bookingFound.inicio)) {\n        bookingFound = nearest;\n        clientName = client.nome;\n      }\n    }\n  }\n}\n\nif (!clientName && clients.length > 0) {\n  clientName = clients[0].json.nome || null;\n}\n\nreturn [\n  {\n    json: {\n      bookingFound,\n      clientName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        -150
      ],
      "id": "filter-bookings-node",
      "name": "Filtrar Agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.bookingFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2450,
        -150
      ],
      "id": "if-has-booking-node",
      "name": "Tem Agendamento?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2650,
        -250
      ],
      "id": "if-menu-opt5",
      "name": "Verificar Opcao Menu"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}",
        "value": "=awaiting_cancellation|{{ $json.bookingFound.id }}|{{ $json.clientName }}|{{ $json.bookingFound.inicio }}",
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2850,
        -350
      ],
      "id": "redis-save-cancellation-state",
      "name": "Salvar Estado Redis (Aguardando)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $json.clientName }}*! 🔍\n\nEncontrei este agendamento ativo em seu número:\n\n📅 *Data:* {{ $json.bookingFound.inicio.split('T')[0].split('-').reverse().join('/') }}\n⏰ *Horário:* {{ $json.bookingFound.inicio.split('T')[1].slice(0, 5) }}\n👥 *Mesa para:* {{ $json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1 }} {{ ($json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1) === 1 ? 'pessoa' : 'pessoas' }}\n\n⚠️ *Deseja realmente CANCELAR este agendamento?*\n\n1️⃣ - SIM, quero cancelar\n2️⃣ - NÃO, manter agendamento",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3050,
        -350
      ],
      "id": "waha-prompt-cancel-confirm",
      "name": "Solicitar Confirmacao Cancelamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $json.clientName }}*! 🔍\n\nEncontrei um agendamento ativo para você:\n\n📅 *Data:* {{ $json.bookingFound.inicio.split('T')[0].split('-').reverse().join('/') }}\n⏰ *Horário:* {{ $json.bookingFound.inicio.split('T')[1].slice(0, 5) }}\n👥 *Mesa para:* {{ $json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1 }} {{ ($json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1) === 1 ? 'pessoa' : 'pessoas' }}\n📋 *Status:* {{ $json.bookingFound.status }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2850,
        -150
      ],
      "id": "waha-show-booking-node",
      "name": "Exibir Agendamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Não encontrei nenhum agendamento ativo para o seu número de telefone em nosso sistema. 🤷‍♂️\n\nSe quiser realizar um agendamento novo, digite *1*!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2650,
        0
      ],
      "id": "waha-no-booking-node",
      "name": "Sem Agendamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/configuracao_agenda",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "chave,valor"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1850,
        0
      ],
      "id": "buscar-configs-node",
      "name": "Buscar Configs",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "inicio,status"
            },
            {
              "name": "status",
              "value": "neq.Cancelado"
            },
            {
              "name": "inicio",
              "value": "=gte.{{ new Date(new Date().getTime() - 3*60*60*1000).toISOString().split('T')[0] }}T00:00:00"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        0
      ],
      "id": "buscar-agendamentos-7d-node",
      "name": "Buscar Agendamentos 7d",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const configData = $('Buscar Configs').all();\n  const bookings = $input.all();\n  \n  const configs = {};\n  for (const c of configData) {\n    configs[c.json.chave] = c.json.valor;\n  }\n  \n  const diasFuncionamento = configs.dias_funcionamento || [2, 3, 4, 5, 6, 0];\n  const horariosDisponiveis = configs.horarios_disponiveis || [\"18:30\", \"19:00\", \"19:30\", \"20:00\", \"20:30\", \"21:00\", \"21:30\", \"22:00\"];\n  const vagasPadrao = configs.vagas_padrao !== undefined ? configs.vagas_padrao : 5;\n  const limitesCustomizados = configs.limites_customizados || {};\n  \n  const weekdaysPT = [\"Dom\", \"Seg\", \"Ter\", \"Qua\", \"Qui\", \"Sex\", \"Sáb\"];\n  let resultText = \"📅 *VAGAS E HORÁRIOS DISPONÍVEIS*\\n*(Próximos 7 dias de funcionamento)*\\n\\n\";\n  \n  const current = new Date();\n  let daysCount = 0;\n  \n  for (let i = 0; i < 15; i++) {\n    const dateObj = new Date(current.getTime() + i * 24 * 60 * 60 * 1000);\n    const weekday = dateObj.getDay();\n    \n    if (!diasFuncionamento.includes(weekday)) continue;\n    \n    const weekdayLabel = weekdaysPT[weekday];\n    const dateStrStr = dateObj.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n    const year = dateObj.getFullYear();\n    const month = String(dateObj.getMonth() + 1).padStart(2, '0');\n    const day = String(dateObj.getDate()).padStart(2, '0');\n    const dateKey = `${year}-${month}-${day}`;\n    \n    let dayAvailableSlots = [];\n    \n    for (const time of [...horariosDisponiveis].sort()) {\n      const limit = limitesCustomizados[dateKey]?.[time] !== undefined \n        ? limitesCustomizados[dateKey][time] \n        : vagasPadrao;\n      \n      const occupied = bookings.filter(b => {\n        if (!b.json.inicio) return false;\n        const parts = b.json.inicio.split('T');\n        const bDate = parts[0];\n        const bTime = parts[1]?.slice(0, 5);\n        return bDate === dateKey && bTime === time;\n      }).length;\n      \n      const remaining = Math.max(0, limit - occupied);\n      if (remaining > 0) {\n        dayAvailableSlots.push(`${time} (${remaining}v)`);\n      }\n    }\n    \n    if (dayAvailableSlots.length > 0) {\n      resultText += `*${weekdayLabel} (${dateStrStr}):*\\n👉 ${dayAvailableSlots.join(' | ')}\\n\\n`;\n    } else {\n      resultText += `*${weekdayLabel} (${dateStrStr}):*\\n❌ Esgotado\\n\\n`;\n    }\n    \n    daysCount++;\n    if (daysCount >= 7) break;\n  }\n  \n  resultText += \"Para reservar a sua mesa, basta digitar *1* ou acessar o link abaixo:\\n🔗 http://localhost:5173/agendar\";\n  \n  item.json.resultText = resultText;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        0
      ],
      "id": "calcular-vagas-node",
      "name": "Calcular Vagas"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $json.resultText }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2450,
        0
      ],
      "id": "waha-opt-3",
      "name": "3 - Ver Dias/Horas",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=📍 *Localização do Estabelecimento:*\nAv. Padre Cacique, 580 - Menino Deus - Porto Alegre/RS\n\nTe esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1850,
        150
      ],
      "id": "waha-opt-4",
      "name": "4 - Ver Local",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Dados').item.json;\nconst clean = (dados.senderPhone || dados.chatId).replace('@c.us', '').replace('@s.whatsapp.net', '').replace('@lid', '');\nlet number = clean.startsWith('55') ? clean.slice(2) : clean;\nconst ddd = number.slice(0, 2);\nconst rest = number.slice(2);\n\nlet with9 = '';\nlet without9 = '';\nif (rest.length === 9) {\n  with9 = '55' + ddd + rest;\n  without9 = '55' + ddd + rest.slice(1);\n} else {\n  without9 = '55' + ddd + rest;\n  with9 = '55' + ddd + '9' + rest;\n}\n\nreturn [\n  {\n    json: {\n      phone9: with9,\n      phone8: without9\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ],
      "id": "formatar-telefone-opt6-node",
      "name": "Formatar Telefone Atendente"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "phone_normalized",
              "value": "=in.(\"{{ $json.phone9 }}\",\"{{ $json.phone8 }}\")"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2050,
        300
      ],
      "id": "buscar-contato-opt6-node",
      "name": "Buscar Contato CRM",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "=eq.{{ $json[0]?.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"open\",\n  \"assigned_agent_id\": null\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        300
      ],
      "id": "update-conversation-opt6-node",
      "name": "Abrir Conversa CRM"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Entendido! Notifiquei nossa equipe e em instantes um de nossos atendentes entrará em contato com você aqui mesmo nesta conversa. Por favor, aguarde um momento! 🙋‍♂️",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2450,
        300
      ],
      "id": "waha-opt-6",
      "name": "6 - Falar com Atendente",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $('Dados').item.json.pushName || 'cliente' }}*! Seja muito bem-vindo ao Marcianos! 🚀\n\nComo posso ajudar você hoje? Digite o número correspondente à opção desejada:\n\n1️⃣ - Agendar Horário\n2️⃣ - Ver meu agendamento\n3️⃣ - Ver dias e horários disponíveis\n4️⃣ - Ver local do estabelecimento\n5️⃣ - Cancelar agendamento\n6️⃣ - Falar com o atendente",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1850,
        450
      ],
      "id": "waha-welcome",
      "name": "Menu de Boas Vindas",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "options": {
          "cors": {
            "allowedOrigins": "*"
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        800
      ],
      "id": "webhook-booking-notify-branch",
      "name": "Webhook Recebe Booking"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        800
      ],
      "id": "wait-booking-3s",
      "name": "Aguardar 3s Booking"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $json.body.chatId }}",
        "text": "=Olá, *{{ $json.body.name }}*! 🚀\n\nSua reserva foi cadastrada em nossa agenda e está com status *Agendado*!\n\n📍 *Local:* {{ $json.body.establishment_name }}\n📅 *Data:* {{ new Date($json.body.date + 'T00:00:00').toLocaleDateString('pt-BR') }}\n⏰ *Horário:* {{ $json.body.time }}\n👥 *Mesa para:* {{ $json.body.guests }} {{ parseInt($json.body.guests) === 1 ? 'pessoa' : 'pessoas' }}\n\n📍 *Endereço:* {{ $json.body.establishment_address }}\n📞 *Contato:* {{ $json.body.establishment_phone }}\n\nFaremos uma confirmação via WhatsApp faltando 1 hora para a sua mesa! Caso precise alterar ou cancelar antes, basta responder a esta mensagem. Te esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        700,
        800
      ],
      "id": "77c3ad65-3520-423b-a914-e88b58ef104f",
      "name": "Enviar Confirmação WhatsApp",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1745,
        180
      ],
      "id": "if-confirm-cancel-yes",
      "name": "Confirmou Cancelamento?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Cancelado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1950,
        120
      ],
      "id": "supabase-patch-cancel",
      "name": "Cancelar no Supabase"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2150,
        120
      ],
      "id": "redis-delete-state-success",
      "name": "Limpar Estado Redis (Sucesso)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Confirmado! Seu agendamento foi cancelado com sucesso. ❌\n\nCaso queira realizar um novo agendamento, digite *1*!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2350,
        120
      ],
      "id": "waha-confirm-cancel-success",
      "name": "Confirmar Cancelamento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1950,
        240
      ],
      "id": "if-confirm-cancel-no",
      "name": "Desistiu Cancelamento?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2150,
        240
      ],
      "id": "redis-delete-state-cancel",
      "name": "Limpar Estado Redis (Desistiu)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Entendido! Seu agendamento foi mantido ativo e não foi cancelado. 😊",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2350,
        240
      ],
      "id": "waha-cancel-abort",
      "name": "Desistir Cancelamento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Por favor, responda se deseja confirmar o cancelamento do agendamento:\n\n1️⃣ - SIM, quero cancelar\n2️⃣ - NÃO, manter agendamento",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2150,
        360
      ],
      "id": "waha-cancel-invalid-option",
      "name": "Instrucoes Confirmacao WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1745,
        480
      ],
      "id": "if-confirm-booking-yes-1h",
      "name": "Confirmou Comparecimento 1h?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Confirmado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1950,
        420
      ],
      "id": "supabase-patch-confirm-1h",
      "name": "Confirmar no Supabase 1h"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2150,
        420
      ],
      "id": "redis-delete-state-confirm-1h",
      "name": "Limpar Estado Redis 1h (Confirmado)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Excelente! Seu agendamento foi **CONFIRMADO**. Te esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2350,
        420
      ],
      "id": "waha-confirm-success-1h",
      "name": "Confirmar Comparecimento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1950,
        540
      ],
      "id": "if-confirm-booking-no-1h",
      "name": "Cancelou Comparecimento 1h?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Cancelado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2150,
        540
      ],
      "id": "supabase-patch-cancel-1h",
      "name": "Cancelar no Supabase 1h"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2350,
        540
      ],
      "id": "redis-delete-state-cancel-1h",
      "name": "Limpar Estado Redis 1h (Cancelado)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Confirmado! Seu agendamento foi cancelado com sucesso. ❌\n\nCaso queira realizar um novo agendamento, digite *1*!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2550,
        540
      ],
      "id": "waha-cancel-success-1h",
      "name": "Cancelar Comparecimento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Por favor, responda se irá comparecer ao seu agendamento:\n\n1️⃣ - SIM, vou comparecer\n2️⃣ - NÃO, quero cancelar",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2150,
        660
      ],
      "id": "waha-invalid-option-1h",
      "name": "Instrucoes Comparecimento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        1200
      ],
      "id": "schedule-trigger-1h",
      "name": "Cron 1h Antes"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,inicio,status,clientes(nome,telefone)"
            },
            {
              "name": "status",
              "value": "eq.Agendado"
            },
            {
              "name": "inicio",
              "value": "=gte.{{ new Date(new Date().getTime() - 3*60*60*1000).toISOString().split('T')[0] }}T00:00:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1200
      ],
      "id": "supabase-query-scheduled-bookings-1h",
      "name": "Buscar Agendamentos Agendados",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.all();\nconst results = [];\nconst now = new Date();\n\nfor (const item of bookings) {\n  const b = item.json;\n  if (b && b.inicio) {\n    // Ignora qualquer offset retornado pelo banco (ex: +00:00) extraindo apenas a data/hora e forçando o fuso do Brasil (-03:00)\n    const localPart = b.inicio.slice(0, 19);\n    const dateStr = localPart + '-03:00';\n    const bookingTime = new Date(dateStr);\n    const diffMs = bookingTime - now;\n    const diffMinutes = diffMs / (1000 * 60);\n    \n    // DESABILITADO TEMPORARIAMENTE PARA TESTES MANUAIS (Aceita qualquer horário)\n    if (true) {\n      const clientName = b.clientes?.nome || 'Cliente';\n      const phoneRaw = b.clientes?.telefone || '';\n      \n      let cleanPhone = phoneRaw.replace(/\\D/g, '');\n      if (cleanPhone.length > 0) {\n        if (!cleanPhone.startsWith('55')) {\n          cleanPhone = '55' + cleanPhone;\n        }\n        const chatId = `${cleanPhone}@c.us`;\n        results.push({\n          json: {\n            bookingId: b.id,\n            clientName,\n            inicio: b.inicio,\n            chatId,\n            horario: localPart.split('T')[1].slice(0, 5)\n          }\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1200
      ],
      "id": "filter-incoming-bookings-1h",
      "name": "Filtrar Próximos 1h"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:notified_1h:{{ $json.bookingId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        700,
        1200
      ],
      "id": "redis-check-notified-1h",
      "name": "Verificar Notificação Enviada",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      },
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst results = [];\nfor (const item of input) {\n  if (!item.json.propertyName) {\n    results.push(item);\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        1200
      ],
      "id": "if-notified-not-sent-1h",
      "name": "Filtrar Não Enviados"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:notified_1h:{{ $('Filtrar Próximos 1h').item.json.bookingId }}",
        "value": "true",
        "ttl": 7200
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        1100
      ],
      "id": "redis-save-notified-1h",
      "name": "Salvar Notificado Redis",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:state:{{ $('Filtrar Próximos 1h').item.json.chatId }}",
        "value": "=awaiting_1h_confirmation|{{ $('Filtrar Próximos 1h').item.json.bookingId }}|{{ $('Filtrar Próximos 1h').item.json.clientName }}|{{ $('Filtrar Próximos 1h').item.json.inicio }}",
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1300,
        1100
      ],
      "id": "redis-save-state-1h",
      "name": "Salvar Estado Conversa 1h",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('Filtrar Próximos 1h').item.json.chatId }}",
        "text": "=Olá, *{{ $('Filtrar Próximos 1h').item.json.clientName }}*! 🕒\n\nSeu agendamento para hoje às *{{ $('Filtrar Próximos 1h').item.json.horario }}* está chegando (falta cerca de 1 hora).\n\nPor favor, confirme se você comparecerá:\n\n1️⃣ - SIM, vou comparecer\n2️⃣ - NÃO, quero cancelar",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1500,
        1100
      ],
      "id": "waha-send-alert-1h",
      "name": "Disparar Alerta 1h WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event": {
      "main": [
        [
          {
            "node": "Aguardar 3 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 3 Segundos": {
      "main": [
        [
          {
            "node": "Marcar Como Lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Como Lido": {
      "main": [
        [
          {
            "node": "Obter Estado Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Estado Redis": {
      "main": [
        [
          {
            "node": "Analisar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Estado": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "Verificar Tipo Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tipo Estado": {
      "main": [
        [
          {
            "node": "Confirmou Comparecimento 1h?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmou Cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Menu": {
      "main": [
        [
          {
            "node": "1 - Agendar Horário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4 - Ver Local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone Atendente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu de Boas Vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone": {
      "main": [
        [
          {
            "node": "Buscar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Supabase": {
      "main": [
        [
          {
            "node": "Filtrar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Agendamento": {
      "main": [
        [
          {
            "node": "Tem Agendamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Agendamento?": {
      "main": [
        [
          {
            "node": "Verificar Opcao Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Opcao Menu": {
      "main": [
        [
          {
            "node": "Salvar Estado Redis (Aguardando)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exibir Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Estado Redis (Aguardando)": {
      "main": [
        [
          {
            "node": "Solicitar Confirmacao Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Configs": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos 7d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos 7d": {
      "main": [
        [
          {
            "node": "Calcular Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Vagas": {
      "main": [
        [
          {
            "node": "3 - Ver Dias/Horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone Atendente": {
      "main": [
        [
          {
            "node": "Buscar Contato CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato CRM": {
      "main": [
        [
          {
            "node": "Abrir Conversa CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir Conversa CRM": {
      "main": [
        [
          {
            "node": "6 - Falar com Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Recebe Booking": {
      "main": [
        [
          {
            "node": "Aguardar 3s Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 3s Booking": {
      "main": [
        [
          {
            "node": "Enviar Confirmação WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmou Cancelamento?": {
      "main": [
        [
          {
            "node": "Cancelar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desistiu Cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar no Supabase": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis (Sucesso)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis (Sucesso)": {
      "main": [
        [
          {
            "node": "Confirmar Cancelamento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desistiu Cancelamento?": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis (Desistiu)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instrucoes Confirmacao WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis (Desistiu)": {
      "main": [
        [
          {
            "node": "Desistir Cancelamento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmou Comparecimento 1h?": {
      "main": [
        [
          {
            "node": "Confirmar no Supabase 1h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelou Comparecimento 1h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar no Supabase 1h": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis 1h (Confirmado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis 1h (Confirmado)": {
      "main": [
        [
          {
            "node": "Confirmar Comparecimento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelou Comparecimento 1h?": {
      "main": [
        [
          {
            "node": "Cancelar no Supabase 1h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instrucoes Comparecimento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar no Supabase 1h": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis 1h (Cancelado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis 1h (Cancelado)": {
      "main": [
        [
          {
            "node": "Cancelar Comparecimento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 1h Antes": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos Agendados": {
      "main": [
        [
          {
            "node": "Filtrar Próximos 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Próximos 1h": {
      "main": [
        [
          {
            "node": "Verificar Notificação Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Notificação Enviada": {
      "main": [
        [
          {
            "node": "Filtrar Não Enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Não Enviados": {
      "main": [
        [
          {
            "node": "Salvar Notificado Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Notificado Redis": {
      "main": [
        [
          {
            "node": "Salvar Estado Conversa 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Estado Conversa 1h": {
      "main": [
        [
          {
            "node": "Disparar Alerta 1h WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
