workspace/Marcianos/frontend/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('Filtrar Não Enviados').item.json.chatId }}",
        "text": "=Olá, *{{ $('Filtrar Não Enviados').item.json.clientName }}*! 🕒\n\nSeu agendamento para hoje às *{{ $('Filtrar Não Enviados').item.json.horario }}* está chegando (falta cerca de 2 horas).\n\nPor favor, confirme se você comparecerá:\n\n👍 Responda *SIM* para confirmar\n👎 Responda *NÃO* para cancelar o agendamento",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -45744,
        35200
      ],
      "id": "e2b00634-02bb-431d-aefc-c723e08104f3",
      "name": "Disparar Alerta 2h WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:state:{{ $('Filtrar Não Enviados').item.json.chatId }}",
        "value": "=awaiting_2h_confirmation|{{ $('Filtrar Não Enviados').item.json.bookingId }}|{{ $('Filtrar Não Enviados').item.json.clientName }}|{{ $('Filtrar Não Enviados').item.json.inicio }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -45968,
        35200
      ],
      "id": "074066b6-d525-459b-9e69-7e6331b99aa4",
      "name": "Salvar Estado Conversa 2h",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:notified_2h:{{ $('Filtrar Não Enviados').item.json.bookingId }}",
        "value": "true"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -46192,
        35200
      ],
      "id": "47161123-d880-45e5-88c9-2eee016d999c",
      "name": "Salvar Notificado Redis",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst parentItems = $('Filtrar Próximos 2h').all();\nconst results = [];\nfor (let i = 0; i < input.length; i++) {\n  const item = input[i];\n  if (!item.json.propertyName) {\n    const parentJson = parentItems[i] ? parentItems[i].json : {};\n    results.push({\n      json: {\n        ...parentJson,\n        propertyName: item.json.propertyName\n      }\n    });\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -46416,
        35200
      ],
      "id": "e5c19207-90c7-4e13-b60f-6e4ad3532772",
      "name": "Filtrar Não Enviados"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:notified_2h:{{ $json.bookingId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -46640,
        35200
      ],
      "id": "09d4113d-6774-4f72-bae2-1aa611f77cf0",
      "name": "Verificar Notificação Enviada",
      "settings": {
        "alwaysOutputData": true
      },
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.all();\nconst results = [];\nconst now = new Date();\n\nfor (const item of bookings) {\n  const b = item.json;\n  if (b && b.inicio) {\n    // Ignora qualquer offset retornado pelo banco (ex: +00:00) extraindo apenas a data/hora e forçando o fuso do Brasil (-03:00)\n    const localPart = b.inicio.slice(0, 19);\n    const dateStr = localPart + '-03:00';\n    const bookingTime = new Date(dateStr);\n    const diffMs = bookingTime - now;\n    const diffMinutes = diffMs / (1000 * 60);\n    \n    // DESABILITADO TEMPORARIAMENTE PARA TESTES MANUAIS (Aceita qualquer horário)\n    if (true) {\n      const clientName = b.clientes?.nome || 'Cliente';\n      const phoneRaw = b.clientes?.telefone || '';\n      \n      let cleanPhone = phoneRaw.replace(/\\D/g, '');\n      if (cleanPhone.length > 0) {\n        if (!cleanPhone.startsWith('55')) {\n          cleanPhone = '55' + cleanPhone;\n        }\n        // Ajuste de 9 dígitos para WAHA (DDD > 28)\n        if (cleanPhone.length === 13) {\n          const ddd = parseInt(cleanPhone.slice(2, 4));\n          if (ddd > 28) {\n            cleanPhone = cleanPhone.slice(0, 4) + cleanPhone.slice(5);\n          }\n        }\n        const chatId = `${cleanPhone}@c.us`;\n        results.push({\n          json: {\n            bookingId: b.id,\n            clientName,\n            inicio: b.inicio,\n            chatId,\n            horario: localPart.split('T')[1].slice(0, 5)\n          }\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -46864,
        35200
      ],
      "id": "a03a3f5c-71cd-4088-88bd-3a05947eba33",
      "name": "Filtrar Próximos 2h"
    },
    {
      "parameters": {
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,inicio,status,clientes(nome,telefone)"
            },
            {
              "name": "status",
              "value": "eq.Agendado"
            },
            {
              "name": "inicio",
              "value": "=gte.{{ new Date(new Date().getTime() - 3*60*60*1000).toISOString().split('T')[0] }}T00:00:00"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -47088,
        35200
      ],
      "id": "5379f144-df85-4c3f-b6f9-8edaef04e154",
      "name": "Buscar Agendamentos Agendados",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -47312,
        35200
      ],
      "id": "0b00a2ab-31ca-4d1e-8e0e-9e0868629666",
      "name": "Cron 2h Antes"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Confirmado! Seu agendamento foi cancelado com sucesso. ❌\n\nCaso queira realizar um novo agendamento, acesse nosso site:\n🔗 http://localhost:5173/",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44400,
        34752
      ],
      "id": "31ce5b5d-21ab-4dca-9eeb-e6da77906c73",
      "name": "Cancelar Comparecimento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44624,
        34752
      ],
      "id": "216c8cc3-8370-495e-978b-b7d3322ec275",
      "name": "Limpar Estado Redis 2h (Cancelado)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Cancelado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -44848,
        34752
      ],
      "id": "b704b0a5-27e9-432b-93b2-78e80bdecfe2",
      "name": "Cancelar no Supabase 2h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ [\"não\", \"nao\", \"n\"].includes($('Dados').item.json.message.trim().toLowerCase()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45072,
        34704
      ],
      "id": "6d6819ed-c70e-4305-a98b-d2ee1be6b1fa",
      "name": "Cancelou Comparecimento 2h?"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Excelente! Seu agendamento foi **CONFIRMADO**. Te esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44624,
        34512
      ],
      "id": "22591b25-dd93-4eec-a346-b86b1a75240d",
      "name": "Confirmar Comparecimento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44848,
        34512
      ],
      "id": "98113e97-bd9f-4b30-b81a-d12151b53223",
      "name": "Limpar Estado Redis 2h (Confirmado)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Confirmado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -45072,
        34512
      ],
      "id": "4c79fc88-cf91-487a-a1ba-42f26324f278",
      "name": "Confirmar no Supabase 2h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ [\"sim\", \"s\"].includes($('Dados').item.json.message.trim().toLowerCase()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45296,
        34608
      ],
      "id": "99cf2ab3-63b9-4133-982a-a34f584a04f8",
      "name": "Confirmou Comparecimento 2h?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44848,
        34320
      ],
      "id": "32273518-8cfa-49ca-b595-7bfc12a71831",
      "name": "Limpar Estado Redis (Voltar Menu)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Entendido! Seu agendamento foi mantido ativo e não foi cancelado. 😊",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44624,
        34128
      ],
      "id": "18515396-623d-4fc0-9577-55564079de1a",
      "name": "Desistir Cancelamento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44848,
        34128
      ],
      "id": "7bdc2d35-0b92-4c95-90aa-1032f4347a61",
      "name": "Limpar Estado Redis (Desistiu)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45072,
        34128
      ],
      "id": "a1a6f934-4486-42a5-8260-711f29b5ceaf",
      "name": "Desistiu Cancelamento?"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Confirmado! Seu agendamento foi cancelado com sucesso. ❌\n\nCaso queira realizar um novo agendamento, digite *1*!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44624,
        33936
      ],
      "id": "a2a4442a-268d-4270-a79d-bed308886128",
      "name": "Confirmar Cancelamento WAHA",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44848,
        33936
      ],
      "id": "629c5ed7-5de3-47e0-afab-5abeaed811cd",
      "name": "Limpar Estado Redis (Sucesso)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Analisar Estado').item.json.bookingId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Cancelado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -45072,
        33936
      ],
      "id": "543e765e-bd4e-4709-aeb3-84ab64da6b2f",
      "name": "Cancelar no Supabase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45296,
        33984
      ],
      "id": "fff57b41-25c5-42b8-be0a-ad78695196e8",
      "name": "Confirmou Cancelamento?"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $json.body.chatId }}",
        "text": "=Olá, *{{ $json.body.name }}*! 🚀\n\nSua reserva foi cadastrada em nossa agenda e está com status *Agendado*!\n\n📍 *Local:* {{ $json.body.establishment_name }}\n📅 *Data:* {{ new Date($json.body.date + 'T00:00:00').toLocaleDateString('pt-BR') }}\n⏰ *Horário:* {{ $json.body.time }}\n👥 *Mesa para:* {{ $json.body.guests }} {{ parseInt($json.body.guests) === 1 ? 'pessoa' : 'pessoas' }}\n\n📍 *Endereço:* {{ $json.body.establishment_address }}\n📞 *Contato:* {{ $json.body.establishment_phone }}\n\nFaremos uma confirmação via WhatsApp faltando 1 hora para a sua mesa! Caso precise alterar ou cancelar antes, basta responder a esta mensagem. Te esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -46864,
        34976
      ],
      "id": "51b9793a-d24b-4a8d-8761-5894384452c4",
      "name": "Enviar Confirmação WhatsApp",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -47088,
        34976
      ],
      "id": "3dd6538b-75b6-4efb-bb18-f7e2dcf56eef",
      "name": "Aguardar 3s Booking",
      "webhookId": "759495b9-29a6-4c87-bc7d-38a66650da49"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -47312,
        34976
      ],
      "id": "4bad7af0-6c86-475b-be5d-ca4da86b7ad8",
      "name": "Webhook Recebe Booking",
      "webhookId": "da256669-a762-41a0-9b8c-fd2605a33992"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $('Dados').item.json.pushName || 'cliente' }}*! Seja muito bem-vindo ao Marcianos! 🚀\n\nComo posso ajudar você hoje? Digite o número correspondente à opção desejada:\n\n1️⃣ - Agendar Horário\n2️⃣ - Ver meu agendamento\n3️⃣ - Ver dias e horários disponíveis\n4️⃣ - Ver local do estabelecimento\n5️⃣ - Cancelar agendamento\n6️⃣ - Falar com o atendente",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44624,
        34320
      ],
      "id": "8da85502-6dc3-4838-89d4-286f909e30ce",
      "name": "Menu de Boas Vindas",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Entendido! Notifiquei nossa equipe e em instantes um de nossos atendentes entrará em contato com você aqui mesmo nesta conversa. Por favor, aguarde um momento! 🙋‍♂️",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44624,
        33744
      ],
      "id": "64d3e530-9b39-45a1-9e89-d0553dead62f",
      "name": "6 - Falar com Atendente",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "=eq.{{ $json[0]?.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"open\",\n  \"assigned_agent_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -44848,
        33744
      ],
      "id": "079d3571-9dfd-423e-9864-38a36a3985fd",
      "name": "Abrir Conversa CRM"
    },
    {
      "parameters": {
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "phone_normalized",
              "value": "=in.(\"{{ $json.phone9 }}\",\"{{ $json.phone8 }}\")"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -45072,
        33744
      ],
      "id": "1ab8e3eb-b12b-4edb-b9d4-91e7933052dc",
      "name": "Buscar Contato CRM",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Dados').item.json;\nconst clean = (dados.senderPhone || dados.chatId).replace('@c.us', '').replace('@s.whatsapp.net', '').replace('@lid', '');\nlet number = clean.startsWith('55') ? clean.slice(2) : clean;\nconst ddd = number.slice(0, 2);\nconst rest = number.slice(2);\n\nlet with9 = '';\nlet without9 = '';\nif (rest.length === 9) {\n  with9 = '55' + ddd + rest;\n  without9 = '55' + ddd + rest.slice(1);\n} else {\n  without9 = '55' + ddd + rest;\n  with9 = '55' + ddd + '9' + rest;\n}\n\nreturn [\n  {\n    json: {\n      phone9: with9,\n      phone8: without9\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -45296,
        33744
      ],
      "id": "0277b485-f612-4eb5-8989-5c69b9aeeda0",
      "name": "Formatar Telefone Atendente"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=📍 *Localização do Estabelecimento:*\nAv. Padre Cacique, 580 - Menino Deus - Porto Alegre/RS\n\nTe esperamos lá! 🍕🚲",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -45296,
        33552
      ],
      "id": "4e9ee777-d484-4ae9-a36b-349988edcf2a",
      "name": "4 - Ver Local",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $json.resultText }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44400,
        33360
      ],
      "id": "acc64c20-ccc0-4f6f-bd35-606e299f094a",
      "name": "3 - Ver Dias/Horas",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configs = $('Agrupar Configs').first().json;\nconst bookings = $input.all();\n\nconst diasFuncionamento = configs.dias_funcionamento || [2, 3, 4, 5, 6, 0];\nconst horariosDisponiveis = configs.horarios_disponiveis || [\"18:30\", \"19:00\", \"19:30\", \"20:00\", \"20:30\", \"21:00\", \"21:30\", \"22:00\"];\nconst vagasPadrao = configs.vagas_padrao !== undefined ? configs.vagas_padrao : 5;\nconst limitesCustomizados = configs.limites_customizados || {};\n\nconst weekdaysPT = [\"Dom\", \"Seg\", \"Ter\", \"Qua\", \"Qui\", \"Sex\", \"Sáb\"];\nlet resultText = \"📅 *HORÁRIOS DISPONÍVEIS*\\n*(Próximos 7 dias de funcionamento)*\\n\\n\";\n\nconst current = new Date();\nlet daysCount = 0;\n\nfor (let i = 0; i < 15; i++) {\n  const dateObj = new Date(current.getTime() + i * 24 * 60 * 60 * 1000);\n  const weekday = dateObj.getDay();\n  \n  if (!diasFuncionamento.includes(weekday)) continue;\n  \n  const weekdayLabel = weekdaysPT[weekday];\n  const dateStrStr = dateObj.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\n  const year = dateObj.getFullYear();\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0');\n  const day = String(dateObj.getDate()).padStart(2, '0');\n  const dateKey = `${year}-${month}-${day}`;\n  \n  let dayAvailableSlots = [];\n  \n  for (const time of [...horariosDisponiveis].sort()) {\n    const limit = limitesCustomizados[dateKey]?.[time] !== undefined \n      ? limitesCustomizados[dateKey][time] \n      : vagasPadrao;\n    \n    const occupied = bookings.filter(b => {\n      if (!b.json.inicio) return false;\n      const parts = b.json.inicio.split('T');\n      const bDate = parts[0];\n      const bTime = parts[1]?.slice(0, 5);\n      return bDate === dateKey && bTime === time;\n    }).length;\n    \n    const remaining = Math.max(0, limit - occupied);\n    if (remaining > 0) {\n      dayAvailableSlots.push(time);\n    }\n  }\n  \n  if (dayAvailableSlots.length > 0) {\n    resultText += `*${weekdayLabel} (${dateStrStr}):*\\n👉 ${dayAvailableSlots.join(' | ')}\\n\\n`;\n  } else {\n    resultText += `*${weekdayLabel} (${dateStrStr}):*\\n❌ Esgotado\\n\\n`;\n  }\n  \n  daysCount++;\n  if (daysCount >= 7) break;\n}\n\nresultText += \"Para reservar a sua mesa, basta acessar o link abaixo:\\n🔗 http://localhost:5173/\";\n\nreturn [{ json: { resultText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -44624,
        33360
      ],
      "id": "afb80361-eac3-468b-a7aa-349fb716ced6",
      "name": "Calcular Vagas"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst configs = {};\nfor (const item of input) {\n  if (item.json.chave) {\n    configs[item.json.chave] = item.json.valor;\n  }\n}\nreturn [{ json: configs }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -45072,
        33360
      ],
      "id": "722d7254-0c5a-43e7-9b72-c383edcdc8cf",
      "name": "Agrupar Configs"
    },
    {
      "parameters": {
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "inicio,status"
            },
            {
              "name": "status",
              "value": "neq.Cancelado"
            },
            {
              "name": "inicio",
              "value": "=gte.{{ new Date(new Date().getTime() - 3*60*60*1000).toISOString().split('T')[0] }}T00:00:00"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -44848,
        33360
      ],
      "id": "9176f3f9-b2cb-4d5a-97c4-4219a8e3d027",
      "name": "Buscar Agendamentos 7d",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/configuracao_agenda",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "chave,valor"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -45296,
        33360
      ],
      "id": "ec19bb0f-ca8f-4ef3-82e6-534de3ddabb8",
      "name": "Buscar Configs",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Não encontrei nenhum agendamento ativo para o seu número de telefone em nosso sistema. 🤷‍♂️\n\nSe quiser realizar um agendamento novo, digite *1*!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44400,
        33168
      ],
      "id": "1256a7dd-8c97-4616-ad15-9e961f2bef6b",
      "name": "Sem Agendamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $json.clientName }}*! 🔍\n\nEncontrei um agendamento ativo para você:\n\n📅 *Data:* {{ $json.bookingFound.inicio.split('T')[0].split('-').reverse().join('/') }}\n⏰ *Horário:* {{ $json.bookingFound.inicio.split('T')[1].slice(0, 5) }}\n👥 *Mesa para:* {{ $json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1 }} {{ ($json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1) === 1 ? 'pessoa' : 'pessoas' }}\n📋 *Status:* {{ $json.bookingFound.status }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -44176,
        33072
      ],
      "id": "836793c0-2ad4-4437-b467-cdbfee169fb3",
      "name": "Exibir Agendamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Olá, *{{ $json.clientName }}*! 🔍\n\nEncontrei este agendamento ativo em seu número:\n\n📅 *Data:* {{ $json.bookingFound.inicio.split('T')[0].split('-').reverse().join('/') }}\n⏰ *Horário:* {{ $json.bookingFound.inicio.split('T')[1].slice(0, 5) }}\n👥 *Mesa para:* {{ $json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1 }} {{ ($json.bookingFound.detalhes_agendamento_nicho[0]?.num_pessoas || 1) === 1 ? 'pessoa' : 'pessoas' }}\n\n⚠️ *Deseja realmente CANCELAR este agendamento?*\n\n1️⃣ - SIM, quero cancelar\n2️⃣ - NÃO, manter agendamento",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -43952,
        32880
      ],
      "id": "f61de832-1a2c-4888-9d80-6b2a64ce2850",
      "name": "Solicitar Confirmacao Cancelamento",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}",
        "value": "=awaiting_cancellation|{{ $json.bookingFound.id }}|{{ $json.clientName }}|{{ $json.bookingFound.inicio }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -44176,
        32880
      ],
      "id": "1d2c9018-1746-4648-b7b7-4af0feaab0be",
      "name": "Salvar Estado Redis (Aguardando)",
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Dados').item.json.message.trim() }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -44400,
        32976
      ],
      "id": "b400c847-7220-41e0-9ff8-ec66bc0e088b",
      "name": "Verificar Opcao Menu"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.bookingFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -44624,
        32976
      ],
      "id": "45780eff-515e-4482-8d50-39d2aa380a89",
      "name": "Tem Agendamento?"
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.all();\nlet bookingFound = null;\nlet clientName = null;\n\nfor (const item of clients) {\n  const client = item.json;\n  if (client && client.agendamentos_base && client.agendamentos_base.length > 0) {\n    const activeBookings = client.agendamentos_base.filter(b => b.status !== 'Cancelado');\n    if (activeBookings.length > 0) {\n      activeBookings.sort((a, b) => new Date(a.inicio) - new Date(b.inicio));\n      const nearest = activeBookings[0];\n      if (!bookingFound || new Date(nearest.inicio) < new Date(bookingFound.inicio)) {\n        bookingFound = nearest;\n        clientName = client.nome;\n      }\n    }\n  }\n}\n\nif (!clientName && clients.length > 0) {\n  clientName = clients[0].json.nome || null;\n}\n\nreturn [\n  {\n    json: {\n      bookingFound,\n      clientName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -44848,
        32976
      ],
      "id": "0d4fb3ca-c398-4c74-b674-215e9fdb3176",
      "name": "Filtrar Agendamento"
    },
    {
      "parameters": {
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/clientes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,nome,agendamentos_base(id,inicio,status,detalhes_agendamento_nicho(num_pessoas))"
            },
            {
              "name": "telefone",
              "value": "=in.(\"{{ $json.formatWith9 }}\",\"{{ $json.formatWithout9 }}\")"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -45072,
        32976
      ],
      "id": "d7099e7d-341d-46ae-994b-38d5677d75de",
      "name": "Buscar no Supabase",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Dados').item.json;\nconst clean = (dados.senderPhone || dados.chatId).replace('@c.us', '').replace('@s.whatsapp.net', '').replace('@lid', '');\nlet number = clean.startsWith('55') ? clean.slice(2) : clean;\nconst ddd = number.slice(0, 2);\nconst rest = number.slice(2);\n\nlet formatWith9 = '';\nlet formatWithout9 = '';\n\nif (rest.length === 9) {\n  formatWith9 = `(${ddd}) ${rest.slice(0, 5)}-${rest.slice(5)}`;\n  formatWithout9 = `(${ddd}) ${rest.slice(1, 5)}-${rest.slice(5)}`;\n} else {\n  formatWithout9 = `(${ddd}) ${rest.slice(0, 4)}-${rest.slice(4)}`;\n  formatWith9 = `(${ddd}) 9${rest.slice(0, 4)}-${rest.slice(4)}`;\n}\n\nreturn [\n  {\n    json: {\n      formatWith9,\n      formatWithout9\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -45296,
        32976
      ],
      "id": "b63bb23d-ba60-4505-8f8c-417e74eca971",
      "name": "Formatar Telefone"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Para realizar o agendamento de seu horário, basta clicar no link abaixo e selecionar a melhor data e horário para você:\n\n🔗 http://localhost:5173/agendar",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -45296,
        32784
      ],
      "id": "14bbe484-4ae3-49a4-906c-f894ca4ef7a9",
      "name": "1 - Agendar Horário",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message ? $('Dados').item.json.message.trim() : '' }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -45520,
        33200
      ],
      "id": "9476f93e-7b17-4e14-8e4b-7859543e9c23",
      "name": "Switch Menu"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isAwaiting2hConfirmation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45520,
        34320
      ],
      "id": "7ac103c6-9e5f-4cca-8054-a3be21841977",
      "name": "Verificar Tipo Estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasActiveState }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -45744,
        34032
      ],
      "id": "a3038a62-7c1e-4f92-bb4e-6a481d75f46f",
      "name": "Verificar Estado"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nlet redisValue = null;\nif (input.length > 0 && input[0].json) {\n  const keys = Object.keys(input[0].json);\n  for (const k of keys) {\n    if (k !== 'error' && input[0].json[k]) {\n      redisValue = input[0].json[k];\n      break;\n    }\n  }\n}\n\nlet isAwaitingCancellation = false;\nlet isAwaiting2hConfirmation = false;\nlet bookingId = null;\nlet clientName = null;\nlet bookingInicio = null;\n\nif (redisValue && typeof redisValue === 'string') {\n  if (redisValue.startsWith('awaiting_cancellation')) {\n    const parts = redisValue.split('|');\n    isAwaitingCancellation = true;\n    bookingId = parts[1] || null;\n    clientName = parts[2] || null;\n    bookingInicio = parts[3] || null;\n  } else if (redisValue.startsWith('awaiting_2h_confirmation')) {\n    const parts = redisValue.split('|');\n    isAwaiting2hConfirmation = true;\n    bookingId = parts[1] || null;\n    clientName = parts[2] || null;\n    bookingInicio = parts[3] || null;\n  }\n}\n\nconst hasActiveState = isAwaitingCancellation || isAwaiting2hConfirmation;\n\nreturn [\n  {\n    json: {\n      isAwaitingCancellation,\n      isAwaiting2hConfirmation,\n      hasActiveState,\n      bookingId,\n      clientName,\n      bookingInicio\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -45968,
        34032
      ],
      "id": "b1820e53-6069-438f-bcba-3cd486de95fc",
      "name": "Analisar Estado"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=bot:state:{{ $('Dados').item.json.chatId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -46192,
        34032
      ],
      "id": "37c9d1bf-a85f-4328-99a8-b6d693357383",
      "name": "Obter Estado Redis",
      "settings": {
        "alwaysOutputData": true
      },
      "credentials": {
        "redis": {
          "id": "ioxUl6ZvsT7Wd4iM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -46416,
        34032
      ],
      "id": "4e306310-2501-4254-8de9-a7befed5a14a",
      "name": "Marcar Como Lido",
      "credentials": {
        "wahaApi": {
          "id": "7dEWP8lqAufzutB1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -46640,
        34032
      ],
      "id": "8fd226c5-0c49-4e97-af90-1ab42d9355b4",
      "name": "Aguardar 3 Segundos",
      "webhookId": "50421f61-480d-4e0f-baca-289bf509c73f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.fromMe }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -46864,
        34032
      ],
      "id": "0b9c4945-2958-455a-a9e2-98348a09882a",
      "name": "Switch Event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc5008d5-d4c1-4175-80b0-053a4817758c",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "1d6e37c1-de04-4ccf-aeec-80558501b913",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e62fb9c8-5b9a-4bd2-a882-54e5fe13c2a3",
              "name": "senderPhone",
              "value": "={{ $json.body.payload._data && $json.body.payload._data.Info && $json.body.payload._data.Info.SenderAlt ? $json.body.payload._data.Info.SenderAlt : $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "5817bc72-05f3-4617-8676-33024bd9c103",
              "name": "pushName",
              "value": "={{ $json.body.payload._data && $json.body.payload._data.Info && $json.body.payload._data.Info.PushName ? $json.body.payload._data.Info.PushName : '' }}",
              "type": "string"
            },
            {
              "id": "00ae1d5e-7542-48c6-a19f-10ed9f01d137",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "867b102b-c232-454c-ac1f-7bcef69a4141",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "b7ca532f-64a0-4e71-8f4f-2fb30a57682f",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "2d2d48d5-d806-4355-a017-b432770ae380",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -47088,
        34032
      ],
      "id": "e1d57748-a280-4667-8b3b-7e4dfc803f0c",
      "name": "Dados"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -47312,
        34032
      ],
      "id": "a162aeca-ff64-41ae-aa15-49299136838f",
      "name": "Webhook",
      "webhookId": "40315f55-b4f4-40ad-9995-54777d0e0e52"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        1800
      ],
      "id": "schedule-trigger-status-update",
      "name": "Cron Atualizar Status"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,inicio,status"
            },
            {
              "name": "status",
              "value": "not.in.(Cancelado,Finalizado)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1800
      ],
      "id": "supabase-query-active-bookings",
      "name": "Buscar Agendamentos Ativos",
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.all();\nconst results = [];\nconst now = new Date();\n\nfor (const item of bookings) {\n  const b = item.json;\n  if (b && b.inicio && b.status) {\n    const localPart = b.inicio.slice(0, 19);\n    const dateStr = localPart + '-03:00';\n    const bookingTime = new Date(dateStr);\n    \n    const diffMs = now - bookingTime;\n    const diffMinutes = diffMs / (1000 * 60);\n    \n    let newStatus = null;\n    \n    if (b.status === 'Agendado' || b.status === 'Confirmado') {\n      if (diffMinutes >= 0 && diffMinutes < 40) {\n        newStatus = 'Em andamento';\n      } else if (diffMinutes >= 40) {\n        newStatus = 'Finalizado';\n      }\n    } else if (b.status === 'Em andamento') {\n      if (diffMinutes >= 40) {\n        newStatus = 'Finalizado';\n      }\n    }\n    \n    if (newStatus) {\n      results.push({\n        json: {\n          bookingId: b.id,\n          statusAtual: b.status,\n          newStatus: newStatus\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        1800
      ],
      "id": "process-status-changes",
      "name": "Processar Mudança de Status"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hcqlcufgwxpfgwkbgxbu.supabase.co/rest/v1/agendamentos_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcWxjdWZnd3hwZmd3a2JneGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTIyNDIsImV4cCI6MjA5NzgyODI0Mn0.qoInyo4FLicZWTQmD0Ny4sR6tI1EL0lZlKDcK3-mZsM"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.bookingId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.newStatus }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1800
      ],
      "id": "supabase-patch-status-update",
      "name": "Atualizar Status no Supabase"
    }
  ],
  "connections": {
    "Cron Atualizar Status": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos Ativos": {
      "main": [
        [
          {
            "node": "Processar Mudança de Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mudança de Status": {
      "main": [
        [
          {
            "node": "Atualizar Status no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Estado Conversa 2h": {
      "main": [
        [
          {
            "node": "Disparar Alerta 2h WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Notificado Redis": {
      "main": [
        [
          {
            "node": "Salvar Estado Conversa 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Não Enviados": {
      "main": [
        [
          {
            "node": "Salvar Notificado Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Notificação Enviada": {
      "main": [
        [
          {
            "node": "Filtrar Não Enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Próximos 2h": {
      "main": [
        [
          {
            "node": "Verificar Notificação Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos Agendados": {
      "main": [
        [
          {
            "node": "Filtrar Próximos 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 2h Antes": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis 2h (Cancelado)": {
      "main": [
        [
          {
            "node": "Cancelar Comparecimento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar no Supabase 2h": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis 2h (Cancelado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelou Comparecimento 2h?": {
      "main": [
        [
          {
            "node": "Cancelar no Supabase 2h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Estado Redis (Voltar Menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis 2h (Confirmado)": {
      "main": [
        [
          {
            "node": "Confirmar Comparecimento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar no Supabase 2h": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis 2h (Confirmado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmou Comparecimento 2h?": {
      "main": [
        [
          {
            "node": "Confirmar no Supabase 2h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelou Comparecimento 2h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis (Voltar Menu)": {
      "main": [
        [
          {
            "node": "Menu de Boas Vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis (Desistiu)": {
      "main": [
        [
          {
            "node": "Desistir Cancelamento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desistiu Cancelamento?": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis (Desistiu)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Estado Redis (Voltar Menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado Redis (Sucesso)": {
      "main": [
        [
          {
            "node": "Confirmar Cancelamento WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar no Supabase": {
      "main": [
        [
          {
            "node": "Limpar Estado Redis (Sucesso)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmou Cancelamento?": {
      "main": [
        [
          {
            "node": "Cancelar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desistiu Cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 3s Booking": {
      "main": [
        [
          {
            "node": "Enviar Confirmação WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Recebe Booking": {
      "main": [
        [
          {
            "node": "Aguardar 3s Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir Conversa CRM": {
      "main": [
        [
          {
            "node": "6 - Falar com Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato CRM": {
      "main": [
        [
          {
            "node": "Abrir Conversa CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone Atendente": {
      "main": [
        [
          {
            "node": "Buscar Contato CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Vagas": {
      "main": [
        [
          {
            "node": "3 - Ver Dias/Horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Configs": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos 7d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos 7d": {
      "main": [
        [
          {
            "node": "Calcular Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Configs": {
      "main": [
        [
          {
            "node": "Agrupar Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Estado Redis (Aguardando)": {
      "main": [
        [
          {
            "node": "Solicitar Confirmacao Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Opcao Menu": {
      "main": [
        [
          {
            "node": "Salvar Estado Redis (Aguardando)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exibir Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Agendamento?": {
      "main": [
        [
          {
            "node": "Verificar Opcao Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Agendamento": {
      "main": [
        [
          {
            "node": "Tem Agendamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar no Supabase": {
      "main": [
        [
          {
            "node": "Filtrar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone": {
      "main": [
        [
          {
            "node": "Buscar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Menu": {
      "main": [
        [
          {
            "node": "1 - Agendar Horário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4 - Ver Local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Telefone Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tipo Estado": {
      "main": [
        [
          {
            "node": "Confirmou Comparecimento 2h?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmou Cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "Verificar Tipo Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Estado": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Estado Redis": {
      "main": [
        [
          {
            "node": "Analisar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Como Lido": {
      "main": [
        [
          {
            "node": "Obter Estado Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 3 Segundos": {
      "main": [
        [
          {
            "node": "Marcar Como Lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Event": {
      "main": [
        [
          {
            "node": "Aguardar 3 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fe721a7a44c61d13f453e2d162558868ab5fa0b8c7a675b34f7f0f70ff208d1"
  }
}